<section class="services">
  <div class="services-card-wrapper">
    <div class="container">
      <h1 class="services-heading">Our Services</h1>

      <h3 class="services-subheading">What we offer</h3>

      <div class="services-row">
        <div class="services-card">
          <h4 class="card-subheading">Sourcing & Procurement</h4>
          <p class="card-text">
            We understand that the success of your operations hinges on the
            quality and timely delivery of essential materials and equipment.
            Our sourcing and procurement services are designed to ensure you
            have access to the best resources available on the global market.
          </p>
          <p class="card-text">
            Our seasoned team of procurement specialists work tirelessly to
            identify top-tier suppliers, negotiate favorable terms, and secure
            the best quality products. Whether it’s specialized machinery,
            high-grade raw materials, or cutting-edge technology, we’ve got you
            covered, minimizing costs and maximizing productivity.
          </p>
        </div>

        <div class="services-card">
          <h4 class="card-subheading">Logistics Services</h4>
          <p class="card-text">
            Efficient logistics are crucial for keeping your operations running
            smoothly. Our logistics services offer a seamless and integrated
            approach to supply chain management. From the moment your order is
            placed to its timely delivery to your site, we manage every detail
            with precision and care.
          </p>
          <p class="card-text">
            We leverage our extensive network and deep industry expertise to
            overcome logistical challenges, ensure compliance with international
            regulations, and provide end-to-end visibility across the supply
            chain. With ASL, you can rest easy knowing your shipments are in
            capable hands, reaching their destination promptly and safely.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
