<section class="about">
  <div class="container">
    <div class="about-row">
      <div class="about-left">
        <img src="assets/service-11.jpg" alt="About Image" />
      </div>
      <div class="about-right">
        <h1 class="about-heading">Global Procurement Services</h1>
        <h3 class="about-subheading">About us</h3>
        <p class="about-text">
          ASL is a global procurement company offering various services to
          businesses in the oil and gas, geothermal and industrial sectors.
        </p>
        <p class="about-text">
          We help with supplying Maintenance, Repair, and Operations (MRO) spare
          parts.
        </p>
        <p class="about-text">
          We pride ourselves on delivering specialized services and solutions
          that empower businesses to streamline their operations and achieve
          peak performance.
        </p>
        <p class="about-text">
          In the ever-evolving landscape of oil and gas, geothermal, and
          manufacturing industries, efficiency, reliability, and innovation are
          paramount. At ASL, we are your trusted partner in navigating these
          challenging terrains, offering a comprehensive suite of services
          tailored to meet your unique needs.
        </p>
      </div>
    </div>
  </div>
</section>
