<footer>
  <div class="container">
    <div class="row row-container">
      <div class="col-md-3">
        <img
          src="assets/logo.png"
          alt="Logo"
          class="img-fluid"
          style="max-height: 100px"
        />
      </div>

      <div class="col-md-4 contact-info">
        <h5>Contact Us</h5>
        <p>Address: C403 Astrol Building, <br> Opposite Garden City - Thika road</p>
        <p>Mailbox: P. O. Box 38703-00100 <br> Nairobi, Kenya</p>
        <p class="email">Email: info&#64;africsahara.com</p>
        <p class="phone">Phone: +254706159900</p>
      </div>

      <div class="col-md-3 menu">
        <h5>Menu</h5>
        <ul class="list-unstyled menu-links">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">Services</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-2 social-icons">
        <h5>Follow Us</h5>
        <div class="icons">
          <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white mr-3"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="text-white mr-3"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3 copyright" style="background-color: #040817; color: white">
    <p>&copy; {{ currentYear }} African Sahara Logistics. All Rights Reserved.</p>
  </div>
</footer>
