<section class="sectors">
  <div class="main-container">
    <h1 class="sectors-heading">Our Sectors</h1>
    <h3 class="sectors-subheading">Explore the sectors we specialize in</h3>

    <div class="sectors-row">
      <div class="sectors-column">
        <h4 class="column-subheading">Oilfield Equipment & Spare Parts</h4>
        <p class="column-text">
          At ASL, we leverage our in-depth understanding of sourcing to enhance
          the analysis, negotiation, and evaluation processes for both clients
          and suppliers.
        </p>
        <p class="column-text">
          Our expertise spans across crafting customized spare parts management
          solutions for critical systems such as chemical injection skids,
          wellhead control panels, modular skids, emergency shutdown systems,
          and hydraulic power units. Whatever your specific requirements, our
          commitment is to deliver fast, reliable, and tailor-made solutions
          designed to meet your unique operational needs.
        </p>
        <img
          src="assets/oil_and_gas.jpeg"
          alt="Energy sector image"
          class="sector-image"
        />
      </div>

      <div class="sectors-column">
        <h4 class="column-subheading">
          Geothermal Power Plant Parts & Equipment
        </h4>
        <p class="column-text">
          Reliability and efficiency are paramount when it comes to geothermal
          power plants, and ASL is here to ensure your procurement needs are met
          with precision.
        </p>
        <p class="column-text">
          Our strategic sourcing minimizes downtime, boosting plant efficiency
          and consequently increasing megawatt output. Whether you need wear
          parts, core parts, or genuine OEM replacements, we can help to source
          for a comprehensive selection including pumps, valves, and essential
          spare parts to keep your operations running smoothly.
        </p>
        <img
          src="assets/geothermal.jpeg"
          alt="Healthcare sector image"
          class="sector-image"
        />
      </div>

      <div class="sectors-column">
        <h4 class="column-subheading">Industrial Plant parts</h4>
        <p class="column-text">
          With an extensive knowledge base and proficiency in the industrial
          sector, ASL prides itself on sourcing the finest equipment and spare
          parts from global suppliers.
        </p>
        <p class="column-text">
          Our established international connections guarantee that our clients
          receive products of the highest quality. Our expertise allows us to
          cater to a wide array of industry needs, delivering top-quality
          equipment and spare parts that enhance operational capability and
          longevity.
        </p>
        <img
          src="assets/industrial_products.jpeg"
          alt="Manufacturing sector image"
          class="sector-image"
        />
      </div>
    </div>
  </div>
</section>
